@import '../App.scss';

.header__holder {
	height: 108px;
	position: relative;

	& .header__content {
		position: absolute;
		top: 0;
		left: 0;
		height: 108px;
		width: 100%;
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
		padding: 0 90px;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&.white {
			background: $white;
		}

		&.blue {
			background: $main_blue;
		}

		& .header__logo {
			height: fit-content;
			cursor: pointer;
			min-width: 240px;
		}
	}
}