@import '../App.scss';

.custom-tooltip {
    max-width: 300px;
    background:$red;
    border-radius: 5px;
    // overflow: hidden;
    position: relative;
    padding: 14px 20px 12px 20px;

    & .tooltip__triangle {
        position: absolute;
        left: 0;
        top: -15px;
    }

    & .tooltip__content {
        display: flex;
        align-items: flex-start;

        & .content__logo {
            margin-right: 18px;
           
        }
        & .tooltip__info {
            margin-bottom: 5px;
        }
    }



    &.success {
        background: $green;
        box-shadow: 2px 2px 5px $green;
        & .tooltip__triangle svg path {
            fill: $green;
        }
    }

    &.error {
        background: $red;
        box-shadow: 2px 2px 5px $red;

        & .tooltip__triangle svg path {
            fill: $red;
        }
    }

    &.default {
        background: $default_gray;
        box-shadow: 2px 2px 5px $default_gray;

        & .tooltip__triangle svg path {
            fill: $default_gray;
        }
    }


}