
$main_blue: #1946BA;
$additional_blue: #1946BA85;
$light_blue: #4EBBDB;

$purple: #F21F5B;

$red: #EB5757;
$green:#6FCF97;
$yellow: #FFD22F;


$default_black: #222222;

$dark_gray: #6A6A6A;
$default_gray: #C4C4C4;
$light_gray: #DFE0EB;


$white: #fff;
$black: #000;

$muller: 'Muller';
$open_sans: 'Open Sans';