.custom-table-cell {
	display: table-cell;
    padding: 16px;
    font-size: 0.875rem;
    text-align: left;
    border-bottom: 1px solid #C4C4C4;
	vertical-align: inherit;


	&.cell-head {
		
	}
	&.cell-body {


		& .cell__content {
			display: block;
		}
	}
}